.el-carousel__indicators {
    display: none !important;
}
//.el-carousel__arrow{
//  border-radius: 0 !important;
//  top: 151% !important;
//  // bottom: 0 !important;
//  width: 99px !important;
//  height: 66px !important;
//}
//.el-carousel__arrow--right {
//  background:rgba(242,40,74,1) !important;
//  right: 0 !important;
//}
//.el-carousel__arrow--left {
//  background-color:rgba(255,255,255,1) !important;
//  right: 15% !important;
//  // left: none !important;
//  background-image: url(../img/da_zuo@2x.png) !important;
//  background-position: 50% 50% !important;
//  background-repeat: no-repeat;
//}
//.el-carousel__item {
//  &>img {
//      width: 100%;
//      height: 100%;
//  }
//}
////�ض�ҳ����ʽ����
//.partnersPage {
//  .el-carousel__indicators {
//      display: block !important;
//  }
//  .el-carousel__arrow--left{
//      display: none!important;
//  }
//  .el-carousel__arrow--right{
//      display: none!important;
//  }
//  .el-carousel__container{
//      height: 370px!important;
//  }
//}
.titd h1{
    font-size:36px;
    font-family:MyriadPro-Regular;
    font-weight:bold;
    color:rgba(0,0,0,1);
    line-height:60px;
    text-align: center;
}
.cent{
    text-align: center;
    font-size: 32px;
    font-family: Adobe Heiti Std R;
    font-weight: normal;
    color: rgba(17, 17, 17, 1);
    margin: 60px 0px 40px 0px;
}
  .banner{
    height: 600px;
  }
   .banner .el-carousel{
       width: 100%;
      height: 600px;
  } 
  .banner .el-carousel .el-carousel__item{
      height: 600px;
  } 
    .banner .el-carousel .el-carousel__item span{
        width:748px;
        font-size:40px;
        font-family:MyriadPro-Bold;
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:66px;
        position: absolute;
        z-index: 999;
        top: 255px;
        left: 50%;
        transform: translateX(-73%);
    }
    .banner .el-carousel .el-carousel__item P{
        width:260px;
        height:60px;
        border:1px solid rgba(255,255,255,1);
        border-radius:30px;
        font-size:14px;
        line-height: 60px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        text-align: center;
         position: absolute;
        z-index: 999;
        bottom: 89px;
        left: 50%;
        transform: translateX(-205%);
    }
  .banner .el-carousel img{
      width: 100%;
      height: 100%;
  }
.banner .el-carousel button{
    display: none;
}
.banner .el-carousel .el-carousel__indicators{
   display:block !important;
   margin-bottom: 21px;
}
.banner .el-carousel .el-carousel__indicators .el-carousel__indicator {
    width: 20px;
    height: 3px;
   background:rgba(0,0,0,0.2);
    padding: 0;
    margin-left: 10px;
}
.banner .el-carousel .el-carousel__indicators .is-active{
     width: 20px;
    height: 3px;
    background: #343FA7;
    padding: 0;
    margin-left: 10px;
}

  .con{
      width: 1200px;
      margin: 0 auto;
      background: #fff;
  }
  
.NEWSs .el-carousel {
   height: 600px;
}
.NEWSs .el-carousel .el-carousel__container{
   height: 600px;
}
.NEWSs .el-carousel .el-carousel__container .el-carousel__item{
    height: 400px;
    margin-top: 140px;
}
.NEWSs .el-carousel .el-carousel__container .outsideti{
    width: 300px;
    margin: 0 auto;
}
.NEWSs .el-carousel .el-carousel__container .outsideti h1{
        margin: 0 auto;
        text-align: center;
        font-size: 32px;
        font-family: Adobe Heiti Std R;
        font-weight: normal;
        line-height: 68px;
        background: white;
}
.NEWSs .el-carousel .el-carousel__container .outsideti p{
        text-align: center;
        font-size: 16px;
        font-family: ArialMT;
        font-weight: 400;
        text-decoration: underline;
        color: rgba(72, 134, 239, 1);
        line-height: 14px;
}
.NEWSs .el-carousel button{
    display: none;
}
.NEWSs .el-carousel .el-carousel__indicators{
   display:block !important;
   position: absolute;
   top: 70px;
   left: 87%;
   z-index: 20;
}

.NEWSs .el-carousel .el-carousel__indicators .el-carousel__indicator {
    width: 22px;
    height: 14px;
    background: #CCCCCC;
    padding: 0;
    margin-left: 22px;
}
.NEWSs .el-carousel .el-carousel__indicators .is-active{
     width: 22px;
    height: 14px;
    background: #4886EF;
    padding: 0;
    margin-left: 22px;
}



 .lunbo .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  .lunbo .el-carousel {
   height: 285px;
}
.lunbo .el-carousel .el-carousel__container{
   height: 285px;
}

  .lunbo .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
 .lunbo  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
.lunbo .el-carousel button{
    display: none;
}
.lunbo .el-carousel .el-carousel__indicators{
   display:block !important;
   position: absolute;
   z-index: 999;
       left: 46%;
}
.lunbo .el-carousel .el-carousel__indicators .el-carousel__indicator {
   width:11px;
    height:6px;
    background: #CCCCCC;
    padding: 0;
    margin-left: 2px;
    border-radius:3px;
}
.lunbo .el-carousel .el-carousel__indicators .is-active{
     width:24px;
    height:6px;
    background: #4886EF;
    padding: 0;
     border-radius:3px;
}

/*分页*/
.fenye .el-pagination .el-pager li{
    width:40px;
    height:38px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(204,204,204,1);
    line-height: 38px;
}
.fenye .el-pagination .el-pager li.active{
    width:40px;
    height:38px;
    background:none !important;
    border:1px solid rgba(72,134,239,1);
    color:#4886ef !important;
    line-height: 38px;
}
.fenye .el-pagination button{
     width:40px;
    height:38px;
}
.lunbo .el-carousel__mask{
    background: #000000;
    opacity: 0.5;
}
.quhao .el-input__inner{
    padding-left: 75px;
}
/*下拉框*/
.el-select{
   width: 100%; 
}
.el-select .el-input .el-select__caret{
        color: #4886EF;
}
.el-form-item__content{
    margin-left: 0px !important;
}
.el-input__inner{
    font-size: 16px;
}
.information_ta .el-checkbox__label{
    font-size:16px;
font-family:MicrosoftYaHei-Bold;
font-weight:bold;
color:rgba(0,0,0,1);
}
.information_ta .el-checkbox__inner {
    width:30px;
height:30px;
}
.information_ta .el-checkbox__inner::after{
    height: 15px;
    left: 10px;
    top: 4px;
    width: 7px;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
    border-color: #4886EF;
}
